@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

body{
    background-color: #95a5a6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


/****ARTICLE***/
article{
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


article section{
background-color: #ecf0f1;
padding: 10px;
width:  50%;
border-radius:  8px;
border: 1px solid #7f8f8d;

}

article section:hover{
    box-shadow: 3px 3px 3px #7f8f8d;  /* + a droite et - a gauche   - haut et + en bas  intensite de l ombre*/
}

article h1{
    text-align: center;
    color:#2c3e50;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px; /*espacement des mot*/
    border-bottom: 1px dashed #7f8f8d; /* dashed des ..... */
    padding-bottom: 15px;
}

article input{
    display: block; /* ranger en dessous des un des autres */
    padding: 12px;
    width: 75%;
    box-sizing: border-box;
    outline: none;
    margin: 15px auto; /*marge et centrer au sein du formulaire*/

}

article input[type="text"]
{
    border: 1px solid #ccc;
}

article input[type="text"]:hover{
    border-color: #e67e22;
}

article input[type="submit"]{
    cursor: pointer;
    border:none;
    background-color: #f1c40f;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.5s;
}

article input[type="submit"]:hover{
  background-color: #e67e22;

}

article ::placeholder{
    color: #7f8f8d;
    letter-spacing: 1px;
}

article p{
    text-align: center;
}

/**Download**/
#download{
 display: flex;
 justify-content: center;
}
#download input {
    display: none;
}

#download label div {
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: #f1c40f;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5;

    display:flex;
    justify-content: center;
    align-items: center;
}

#download label div i{
    font-size: 1.8em;
    color:#fff;
}
#download label div:hover{
 background-color: #e67e22;
}
/**download fin**/

/*** classes generiques ***/
.error , .success{
    padding: 15px;
    color:#f1c40f;
    background-color: #e74c3c;
    margin-bottom: 20px;
    font-size: 19px;
    font-weight:bold;
    border-radius: 50px;
    letter-spacing: 1px;
    text-align: center;
}

.success{
    background-color: #27ae60;
}

/*** classes generiques fin***/

/***ARTICLE FIN***/